<div class="main">
  <h1>My TODO List</h1>

  <label for="addItemInput">What would like to do today?</label>

  <h2>
    {{ items.length }}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <input
    id="addItemInput"
    type="text"
    class="lg-text-input"
    #newItem
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  />
  <button
    class="btn-primary"
    (click)="addItem(newItem.value); newItem.value = ''"
  >
    Add
  </button>

  <!-- <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
 -->

  <!-- Buttons that show all, still to do, or done items on click -->
  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'"
    >
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'"
    >
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'"
    >
      Done
    </button>
  </div>

  <!-- <h2>{{items.length}} item(s)</h2>
        <ul>... -->

  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>
